// variables
$light-transparent: rgba(0, 0, 0, 0.2);
$light: #ffffff;
$dark: #252525;
$light-gray: #d9d9d9;
$light-blue: #3771c2;




@mixin  flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

}

body {
    @include flexCenter(row);
    background-color: $light-gray;
}

.msg-container {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
     width: 90%;
     height: 600px;
     background-color: $light;
}

.left-side {
    border-right: 2px solid $light-transparent;
}

// working on left side

// working on left side upper bound
.upper {
    border-bottom: 1px solid $light-gray;
    position: sticky;
    left: 0;
    top: 0;
    // header
    .lheader {
        width: 100%;
        margin: 10px 0px;
        min-height: 40px;
        position: relative;
        .logo {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 1.6em;
            padding: .5em;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $light-blue;
            @include flexCenter(row);
            img {
                width: 60px;
                height: 60px;
                border-radius: 100px;
                margin-right: 5px;
            }
        }
        .icons {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.2em;
            padding: .5em;
            i {
                background-color: #ebdbdb;
                padding: .3em;
                border-radius: 100px;
                cursor: pointer;
                &:hover {
                    background-color: $light-transparent;
                }
            }   // end of i
        }   // end of icons
    } // end of header
    // search box
    .search-box {
        clear: both;
       background-color: #ebdbdb;
       color: black;
       display: inline-flex;
       border-radius: 100px;
       padding: .3em .5em;
       
        width: 250px;
        height: 30px;
        margin: .4em 2.5em;
       input {
           width: 100%;
           background-color: #ebdbdb;
           border: none;
           outline: none;
           padding: .5em;
           font-size: 1.1em;
       }
    }// end of search box
} // end of upper


// working on lower bound (left side)
.lower {
    margin-top: 5px;
    
}

.message {

    display: flex;
    flex-direction: row;
    margin: .3em;
    padding: .3em;
    cursor: pointer;
    // applying on picture
    .picture {
        width: 60px;
        height: 60px;
        border-radius: 100px;

        img {
            border-radius: 100px;
            width: 100%;
            height: 100%;
        }

    } // end of picture
    // data 
    .data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 5px;
        h5 {
            font-size: 1.1em;
            color: $dark;
            font-weight: 400;
        }
        h6 {
           font-size: .8em;
           color:rgba(0, 0, 0, 0.7)
        }
    }

    // applying hover effect
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

// working on right part 
.right-side {
    background-color: $light;
    // header
    .rheader {
        // background-color: royalblue;
       

        width: 100%;
        margin: 0px 0px 10px 0px;
        height: 70px;
        position: sticky;
        top: 0;
        left: 0;
        border-bottom: 1px solid $light-transparent;
        .logo {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 1.6em;
            padding: .5em;
            letter-spacing: 2px;
            text-transform: capitalize;
            // color: white;
            @include flexCenter(row);
            img {
                width: 60px;
                height: 60px;
                border-radius: 100px;
                margin-right: 5px;
            }
            .info {
                display: flex;
                flex-direction: column;
                letter-spacing: 1px;
                h6 {
                    font-size: .4em;
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }
        .icons {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.2em;
            padding: .5em;

            i {
                background-color: #ebdbdb;
                padding: .3em;
                border-radius: 100px;
                color: rgb(59, 59, 236);
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }   // end of i
        }   // end of icons
    } // end of header

   



} // end of right side


// chats design 
.chats {
    width: 100%;
    height: 100%;

    position: relative;

    .chat-box{
        // position: absolute;
        // top: 0;
        // left: 0;
        padding: 20px;
        width: 100%;
        height: 100%;

    }

    .send-area {
        position: absolute;
        left: 0;
        bottom: 80px;
        // border-top: 1px solid gray;
   
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            input {
             width: 100%;
             
               font-size: 1.2em;
               border: 1px solid rgba(0, 0, 0, 0.7);
               outline: none;
               border-radius: 100px;
               padding: .4em .9em;
            } 
            i {
                font-size: 1.6em;
                margin-left: 5px;
                background-color: blue;
                cursor: pointer;
                color: white;
                padding: .5em;
                border-radius: 100px;
                
            }


    } // end of send area 
} // end of chats 



.chat-box #person1 {
    clear: both;
    float: left;
    @include flexCenter(row);
    width: 300px;
    margin: .4em 0em;
    img {
        border-radius: 100px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    p {
        background-color: rgba(0, 0, 0, 0.3);
        padding: .3em .8em;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
    }
}

.chat-box #person2 {
    clear: both;
    float: right;
    @include flexCenter(row);
    min-width: fit-content;
    margin: .4em 0em;
    width: 300px;
    // position: absolute;
    // right: 0;
    // bottom: 0;
    p {
        background-color: rgba(0, 0, 0, 0.3);
        padding: .3em .8em;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 600px)
{
    
    .msg-container {
        width: 100%;
         height: 600px;
    }
    .right-side {
        display: none;
    }
    .left-side {
        border: none;
        width: 100%;
    }
}