body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d9d9d9;
}

.msg-container {
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  width: 90%;
  height: 600px;
  background-color: #ffffff;
}

.left-side {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.upper {
  border-bottom: 1px solid #d9d9d9;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
}

.upper .lheader {
  width: 100%;
  margin: 10px 0px;
  min-height: 40px;
  position: relative;
}

.upper .lheader .logo {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.6em;
  padding: .5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3771c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper .lheader .logo img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin-right: 5px;
}

.upper .lheader .icons {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2em;
  padding: .5em;
}

.upper .lheader .icons i {
  background-color: #ebdbdb;
  padding: .3em;
  border-radius: 100px;
  cursor: pointer;
}

.upper .lheader .icons i:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.upper .search-box {
  clear: both;
  background-color: #ebdbdb;
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 100px;
  padding: .3em .5em;
  width: 250px;
  height: 30px;
  margin: .4em 2.5em;
}

.upper .search-box input {
  width: 100%;
  background-color: #ebdbdb;
  border: none;
  outline: none;
  padding: .5em;
  font-size: 1.1em;
}

.lower {
  margin-top: 5px;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: .3em;
  padding: .3em;
  cursor: pointer;
}

.message .picture {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.message .picture img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.message .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
}

.message .data h5 {
  font-size: 1.1em;
  color: #252525;
  font-weight: 400;
}

.message .data h6 {
  font-size: .8em;
  color: rgba(0, 0, 0, 0.7);
}

.message:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.right-side {
  background-color: #ffffff;
}

.right-side .rheader {
  width: 100%;
  margin: 0px 0px 10px 0px;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.right-side .rheader .logo {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.6em;
  padding: .5em;
  letter-spacing: 2px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-side .rheader .logo img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin-right: 5px;
}

.right-side .rheader .logo .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1px;
}

.right-side .rheader .logo .info h6 {
  font-size: .4em;
  color: rgba(0, 0, 0, 0.7);
}

.right-side .rheader .icons {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2em;
  padding: .5em;
}

.right-side .rheader .icons i {
  background-color: #ebdbdb;
  padding: .3em;
  border-radius: 100px;
  color: #3b3bec;
  cursor: pointer;
}

.right-side .rheader .icons i:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chats {
  width: 100%;
  height: 100%;
  position: relative;
}

.chats .chat-box {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.chats .send-area {
  position: absolute;
  left: 0;
  bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.chats .send-area input {
  width: 100%;
  font-size: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.7);
  outline: none;
  border-radius: 100px;
  padding: .4em .9em;
}

.chats .send-area i {
  font-size: 1.6em;
  margin-left: 5px;
  background-color: blue;
  cursor: pointer;
  color: white;
  padding: .5em;
  border-radius: 100px;
}

.chat-box #person1 {
  clear: both;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin: .4em 0em;
}

.chat-box #person1 img {
  border-radius: 100px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.chat-box #person1 p {
  background-color: rgba(0, 0, 0, 0.3);
  padding: .3em .8em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

.chat-box #person2 {
  clear: both;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: .4em 0em;
  width: 300px;
}

.chat-box #person2 p {
  background-color: rgba(0, 0, 0, 0.3);
  padding: .3em .8em;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .msg-container {
    width: 100%;
    height: 600px;
  }
  .right-side {
    display: none;
  }
  .left-side {
    border: none;
    width: 100%;
  }
}
/*# sourceMappingURL=app.css.map */